<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <div class="steam-form">
      <!-- Display flash messages here -->
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="flash-messages">
                  {% for message in messages %}
                      <p class="flash-message">{{ message }}</p>
                  {% endfor %}
              </div>
          {% endif %}
      {% endwith %}
      <h1 class="company">Login</h1>
      <form name="login-form" action="/login" method="POST">
        <input type="email" name="email" placeholder="Email" id="email" required>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <button type="submit">Sign in</button>
      </form>        
      {% if message %}
          <p class="error-message">{{ message }}</p>
      {% endif %}
      <p class="message">Not registered? <a href="{{ url_for('show_registration_page') }}">Create an account</a></p>
      <p class="message">Want to update your Email?<a href="{{ url_for('update_email_page') }}">Update your Email</a></p>
      <p class="message">Want to update your Username?<a href="{{ url_for('update_username') }}">Update your Username</a></p>
      <p class="message">Want to update your Password?<a href="{{ url_for('update_password') }}">Update your Password</a></p>
    </div>
  </div>
</body>
</html>
