<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <div class="steam-form">
      <h1 class="company">Update Username</h1>
      <form name="update-username-form" action="/update_username" method="POST">
        <!-- Add fields to update user information -->
        <input type="text" name="new_username" placeholder="New Username" id="new_username" required>
        <input type="email" name="email" placeholder="Email" id="email" required>
        <input type="password" name="password" placeholder="Password" id="password" required>
    
        <!-- Add more fields as needed -->
        <button type="submit">Update Username</button>
    </form> 
    </div>
  </div>
</body>
</html>
